* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}
/* changed div to menu */
.header menu {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    /* added '' to Calibri (word text) */
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* changed div to menu and ul to nav */
.header menu nav {
    list-style-type: none;
}
/* changed div to menu and ul to nav */
.header menu nav li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    /* added '' to Calibri (word text) */
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* combined all aside content text together and styling them togther rather then individually */
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* combined all the headings within the aside content together rather then individually using .h3 */
.h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* combined content images together rather then individually using .benefits img */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* combined all main content text together and styling them togther rather then individually */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    /* added '' to Calibri (word text) */
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* combined content images together rather then individually using .content img */
.content img {
    max-height: 200px;
}

/* combined all the headings within the main content together rather then individually using .h2 */
.h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* changed div to a sementic element footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* changed from h2 to h4 to show its importance */
.footer h4 {
    font-size: 20px;
}
